PORT=3000
NODE_ENV=development
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database_name
DATABASE_URL=postgres://your_username:your_password@db:5432/expense_tracker
JWT_ACCESS_SECRET=your_secret_here
JWT_REFRESH_SECRET=your_other_secret_here